*{
    margin: 0;
    padding: 0;
}

.judul{
    display: flex;

    margin-top: 2vh;
    margin-left: 14vw;
    font-size: 1.45vw;
    font-weight: 600;
    font-family: 'poppins';
}

.judul2{
    padding-left: 9vw;
}
.judul3{
    padding-left: 10vw;
}

.garis-bulet{
    align-items: center;
    margin-top:2vh;
    margin-left: 4vw;
    display: flex;
}


.garis1{
    width: 11.17vw;
    border: solid 0.1vw black;
    background-color: black;
    height: 0.1vh;
}

.bulet1{
    border-radius: 100%;
    background-color: #d0d0d0;
    width: 1.87vw;
    height: 1.87vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dalem-bulet1{
    border-radius: 100%;
    background-color: #77a4ff ;
    width: 1.4vw;
    height: 1.4vw;
}
.garis2{
    width: 12.67vw;
    border: solid 0.1vw black;
    background-color: black;
    height: 0.1vh;
}

.bulet2{
    border-radius: 100%;
    background-color: #d0d0d0;
    width: 1.87vw;
    height: 1.87vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dalem-bulet2{
    border-radius: 100%;
    width: 1.4vw;
    background-color: #77a4ff ;
    height: 1.4vw;
}

.garis3{
    width: 13.47vw;
    border: solid 0.1vw black;
    background-color: black;
    height: 0.1vh;
}
.garis4{
    width: 11.17vw;
    border: solid 0.1vw black;
    background-color: black;
    height: 0.1vh;
}
.bulet3{
    border-radius: 100%;
    background-color: #d0d0d0;
    width: 1.87vw;
    height: 1.87vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dalem-bulet3{
    border-radius: 100%;
    width: 1.2vw;
    height: 1.2vw;
}

.container{
    display: flex;
}

.kotak-order{
    width: 30.5vw;
    height: 90vh;
    margin-left: 5vw;
    margin-top: 5vh;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12), 4px 0px 4px rgba(0, 0, 0, 0.07);
    border-radius: 2vw;
    position: fixed;
}

.your-order{
    font-weight: 600;
    font-family: 'poppins';
    text-decoration: underline;
    padding-top: 3vh;
    padding-left: 4vw;
    font-size: 1.5vw;
}

.gambar{
    width: 23.3vw;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    /* background-image:url("https://cf.shopee.co.id/file/b288f60bea7e351c6f40a96a14314e9b") ; */
    background-color: #d0d0d0;
    background-size: 23vw;
    height:18.5vw;
    border-radius: 1%;
    margin-left: 4vw;
    margin-top: 2vh;
}

.judul-detail-product{
    font-weight: 600;
    font-family: 'poppins';
    padding-top: 3vh;
    padding-left: 4vw;
    font-size: 1.5vw;
}

.isi-detail-product{
    font-size: 1vw;
    width: 23vw;
    margin-left: 4vw;
    font-family: 'quicksand';
}

.subtotal{
    display: flex;
    gap: 12vw;
    font-size: 1vw;
    margin-left: 4vw;
}

.kiri{
    width: 62vw;
}

.kiri-subtotal{
    font-family: 'quicksand';
    font-weight: 400;
    font-size: 1vw;
}
.kanan-subtotal{
    font-family: 'quicksand';
    font-weight: 400;
    font-size: 1vw;
}
.kiri-delivery{
    font-family: 'quicksand';
    font-weight: 400;
    font-size: 1vw;
}
.kanan-delivery{
    font-family: 'quicksand';
    font-weight: 400;
    font-size: 1vw;
}
.admin-fee{
    display: flex;
    gap: 11.2vw;
    font-size: 1vw;
    margin-left: 4vw;
    margin-top: 1vh;
}
.delivery-fee{
    display: flex;
    gap: 11.2vw;
    font-size: 1vw;
    margin-left: 4vw;
    margin-top: 1vh;
}

.kiri-admin{
    font-family: 'quicksand';
    font-weight: 400;
    font-size: 1vw;
}
.kanan-admin{
    font-family: 'quicksand';
    font-weight: 400;
    font-size: 1vw;
}

.judul-order{
    font-weight: 600;
    font-family: 'poppins';
    padding-top: 1vh;
    padding-left: 4vw;
    font-size: 1.5vw;
}

.garis-kotak{
    border: 0.1vh solid #C4C4C4;
    width: 23vw;
    margin-left: 4vw;
    background-color: #C4C4C4;
    margin-top: 3vw;
}

.total{
    display: flex;
    gap: 9vw;
    font-family: 'quicksand';
    font-size: 0.9vw;
    margin-left: 4vw;
    margin-top: 1vw;
}

.billing-details{
    margin-left: 4vw;
    margin-top: 2vw;
    font-family: 'quicksand';
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.judul-billing{
    font-weight: 600;
    font-size: 2vw;
}

.order-id-billing{
    font-weight: 400;
    font-size: 2vw;
}

.user-id-billing{
    font-weight: 400;
    font-size: 2vw;
}

.name-billing{
    font-weight: 400;
    font-size: 2vw;
}

.no-billing{
    font-weight: 400;
    font-size: 2vw;
}

.delivery-billing{
    font-weight: 400;
    font-size: 2vw;
}

.continue-button-billing{
    width: 55vw;
    height: 4vw;
    border-radius: 1vw;
    margin-top: 1%;
    background-color: #77a4ff;
    cursor: pointer;
    font-size: 1.5vw;
    color: white;
    font-weight: 600;
    font-family: 'poppins';
    border: none;
}
.continue-button-billing:hover{
    width: 55vw;
    height: 4vw;
    border-radius: 1vw;
    margin-top: 1%;
    background-color: #77a4ff;
    cursor: pointer;
    font-size: 1.5vw;
    color: white;
    font-weight: 600;
    font-family: 'poppins';
    filter: drop-shadow(5px 4px 4px #96b5f4);
    transition: all .4s;

}


.garis1-billing{
    width: 55vw;
    height: 0.1vh;
    background: #00000080;
}

.footer-bill1{
    display: flex;
}

.isi-foot{
    font-size: 1vw;
    font-family: 'quicksand';
    color: #00000080;

}
.isi1-foot{
    font-size: 1.6vw;
    font-weight: 500;
    font-family: 'quicksand';
    margin-top: 2vw;
}
.isi2-foot{
    font-size: 1.6vw;
    font-weight: 500;
    font-family: 'quicksand';
    margin-top: 2vw;
}

.isi3-foot{
    font-size: 1.6vw;
    font-weight: 500;
    font-family: 'quicksand';
    margin-top: 2vw;
}
.isi4-foot{
    font-size: 1.6vw;
    font-weight: 500;
    font-family: 'quicksand';
    margin-top: 2vw;
}

.judul-foot{
    font-size: 2.1vw;
    color: #00000080;
    font-weight: 500;
}

.garis-foot1{
    width: 55vw;
    height: 0.1vh;
    background: #00000080;
    margin-bottom: 4vw;
    margin-top: 2vw;
}

.foot-kanan1{
    margin-left: -10vw;
}

.btn-edit1{
    width: 10vw;
    height: 5vw;
    border-radius: 2vw;
    background: transparent;
    cursor: pointer;
    font-size: 1vw;
}
.btn-edit1:hover{
    width: 10vw;
    height: 5vw;
    border-radius: 2vw;
    background: transparent;
    cursor: pointer;
    background-color: #77a4ff;
    color: white;
    border: none;
    transition: all .4s;
    font-size: 1vw;
}
