* {
  margin: 0;
  padding: 0;
}

svg {
  margin-top: -1.5%;
}

nav {
  position: relative;
  top: 1.5vw;
  height: fit-content;
  box-shadow: .1vh .1vh .5vh #5874af77;
}

.nvbr {
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
  z-index: 99;
}

.navbar {
  height: 60px;
}

.logo {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.logo img {
  width: 100%;
  height: 40px;
}

.title {
  width: fit-content;
  margin: 0vw auto 0px auto;
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: -3%;
}

.title p {
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 2vw;
  color: #B5C5D9;
}

.search-web {
  margin-left: 2%;
  position: relative;
  z-index: 2;
}

.layout-search {
  display: flex;
}

#search-web {
  width: 250px;
  height: 35px;
  background: #ffffff;
  border: 0.1vh solid #9f9f9f;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 6%;
  padding-right: 6%;
  font-size: 1.125vw;
  box-sizing: border-box;
  box-shadow: .1vh .1vh .3vh #a1a1a177;
  font-size: 16px;
  font-family: 'Poppins';
}

.search-web i {
  margin-left: -15%;
  font-size: 16px;
  color: black;
}

.layout-search button {
  width: 40px;
  height: 35px;
  background-color: #5874AF;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 2%;
  box-shadow: .1vh .1vh .3vh #a1a1a177;
}

.navbar-collapse {
  justify-content: right;
  margin-left: 30px;
  margin-right: 25px;
  z-index: 3;
}

.user {
  border-radius: 50%;
  width: 40px;
}

.user-setting,
.logout,
.setting {
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-item i {
  font-size: 20px;
}

.nav-item>* :active {
  background-color: rgba(176, 176, 176, 0.344);
  color: #000;
}

.dropdown-item {
  display: flex;
  justify-content: space-between;
}

.dropdown-menu {
  margin-left: -70px;
}

/* end navbar */


.content {
  width: 80%;
  display: flex;
  position: relative;
  padding-top: 7vh;
  justify-content: center;
}

.pict {
  width: 25vw;
  height: 55vh;
  margin-left: -170px;
  align-items: center;
  justify-content: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pict img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.pict button {
  margin-bottom: 20px;
  padding: 5px 45px;
  border-radius: 14px;
  background-color: transparent;
}
.details{
  margin-left: 30px;
  margin-top: 7px;

}
.id, .first-name, .last-name, .email, .phone-number, .address{
  display: flex;
  margin-top: 10px;
  font-size: 18px;
}
.id p:nth-child(2){
  margin-left: 98px;
}
.first-name p:nth-child(2){
  margin-left: 113px;
}
.last-name p:nth-child(2){
  margin-left: 113px;
}
.email p:nth-child(2){
  margin-left: 160px;
}
.phone-number p:nth-child(2){
  margin-left: 75px;
}
.address p:nth-child(2){
  margin-left: 134px;
  width: 600px;
}

.pesanan {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  font-size: 20px;
  margin: 20px 100px;

}

.myorder button {
  padding: 3px 0px;
  width: 200px;
  border-radius: 10px;

}
.complete button {
  padding: 3px 0px;
  width: 200px;
  border-radius: 10px;
  background-color: transparent;
}
.canceled button {
  padding: 3px 0px;
  width: 200px;
  border-radius: 10px;
  background-color: transparent;
}
.all button {
  padding: 3px 0px;
  width: 200px;
  border-radius: 10px;
  background-color: transparent;
}


.orderan-gue{
  width: 93%;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  margin-bottom: 100px;
  margin-top: 40px;
}

.row1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 10px;
  margin: 15px;
}
.row1 p{
  font-size: 20px;
  margin-top: 3px;
}
.row1 .total{
  position: relative;
  left: -50px;
}
.row1 .store{
  display: flex;
  gap: 5px;
}
.row1 .store #logo{
  font-size: 40px;
}
.produknya img{
  width: 120px;
  margin-left: 20px;
  border-radius: 5px;
}

.kontencuy{
  display: flex;
}
.detail-produk{
  margin-left: 20px;
  line-height: 15px;
}

.row-kanan{
  position: relative;
  left: 890px;
}
.row-kanan button{
  padding: 3px 5px;
  width: 120px;
  border-radius: 10px;
}
.harga-total{
  font-size: 20px;
}
.btn-pesanan {
  display: flex;
  margin-left: -150px;
  gap: 20px;
  margin-top: 25px;
}

.btn-pesanan button:nth-child(1){
  background-color: #5874AF;
  color: white;
  border-color: transparent;
}
.btn-pesanan button:nth-child(2){
  background-color: transparent;
  border: solid 1px black;
}
